@model Petrolheads.Web.ViewModels.Administration.Dashboard.IndexViewModel
@{
    this.ViewData["Title"] = "Admin dashboard";
}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="dbox dbox--color-1">
                <div class="dbox__body">
                    <span class="dbox__count">@Model.PostsCount</span>
                    <span class="dbox__title">Posts</span>
                </div>

                <a asp-area="Administration" asp-controller="ManagePosts" asp-action="Index">
                    <div class="dbox__action">
                        <button class="dbox__action__btn">More Info</button>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="dbox dbox--color-2">
                <div class="dbox__body">
                    <span class="dbox__count">@Model.CarsCount</span>
                    <span class="dbox__title">Cars</span>
                </div>
                <a asp-area="Administration" asp-controller="ManageCars" asp-action="Index">
                    <div class="dbox__action">
                        <button class="dbox__action__btn">More Info</button>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="dbox dbox--color-3">
                <div class="dbox__body">
                    <span class="dbox__count">@Model.MakesCount</span>
                    <span class="dbox__title">Makes</span>
                </div>

                <div class="dbox__action">
                    <button class="dbox__action__btn">More Info</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="dbox dbox--color-2">
                <div class="dbox__body">
                    <span class="dbox__count">@Model.UsersCount</span>
                    <span class="dbox__title">Users</span>
                </div>

                <div class="dbox__action">
                    <button class="dbox__action__btn">More Info</button>
                </div>
            </div>
        </div>
    </div>
</div>





@*<div class="row justify-content-around">
    <div class="col-5 info-box">
        <h1>Posts 60</h1>
    </div>

    <div class="col-5 info-box">
        Posts 60
    </div>
</div>*@