.fb-profile img.fb-image-lg {
    z-index: 0;
    width: 100%;
    margin-bottom: 10px;
    height: 25em;
}

.fb-image-profile {
    margin: -90px 10px 0px 50px;
    border: 1px solid black;
    z-index: 9;
    width: 210px;
    height: 200px;
}

.fb-profile-text {
    margin-bottom: 0.6em;
}


@media (max-width:992px) {

    .fb-profile img.fb-image-lg {
        z-index: 0;
        width: 100%;
        margin-bottom: 10px;
        height: 15em;
    }

    .fb-profile-text > h1 {
        font-weight: 700;
        font-size: 20px;
        margin-bottom: 1.1em;
    }

    .fb-image-profile {
        margin: -45px 10px 10px 25px;
        z-index: 9;
        width: 20%;
    }
}

@media (max-width:768px) {

    .fb-profile-text > h1 {
        font-weight: 700;
        font-size: 16px;
    }

    .fb-image-profile {
        margin: -45px 10px 0px 25px;
        z-index: 9;
        width: 20%;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        margin-top: 3em;
    }
}