.car-main-image,
.car-image-upload {
    width: 350px;
    height: 230px;
}

.car-profile-image {
    border: 2px solid black;
    padding: 0.5em;
    border-radius: 0.5em;
    background-color: orange;
}

/*Edit Car View Styling*/

.main-img-input,
.add-post-img-label {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

/*Add Post View Styling*/

.post-add-image {
    display: none;
    width: 450px;
    height: 330px;
    margin-bottom: 1em;
}
